
.login{
  @include setting($width,365px);
  @include pos(relative);
  overflow:hidden;
  .purchase{
    @include setting(575px,345px);
    @include distance(10px,10px);
    float:left;
    button{
      @include setting(262px,59px,url(../images/login/btnBg.jpg) repeat);
      @include pos(absolute,155px,227px);
      color:#fff;
      font-weight:600;
      font-size:24px;
      border:4px solid #fff;
      border-radius:10px;
    }
  }
  .phoneNum{
    @include setting(370px,335px);
    @include distance(160px,25px);
    @include pos(relative);
    float:left;
    p{
      @include distance(0,15px);
    }
    input{
      @include setting(342px,32px,url(../images/login/inputBg.jpg) repeat);
      border-radius:5px;
    }
    .remem{
      @include pos(absolute,20px,174px);
      display:inline-block;
    }
    .forget{
      @include pos(absolute,92px,182px);
      &:hover{
        cursor: pointer;
      }
    }
    .remember{
      @include setting(13px,13px);
      @include distance(0,32px);
    }
    .loginBtn{
      @include setting(340px,32px,#5cb85c);
      @include pos(absolute,5px,220px);
      border-radius:5px;
      color: #fff;
    }
    .signBtn{
      @include setting(340px,32px);
      @include pos(absolute,5px,260px);
      border:1px solid #ccc;
      border-radius:5px;
      color: #000;
    }
    ul{
      @include pos(absolute,75px,302px);
      li{
        @include setting(20px,20px,url(../images/login/thirdParty.jpg) no-repeat);
        @include distance(5px);
        cursor : pointer;
      }
      .login1{ background-position: left top;}
      .login2{ background-position: -22px top;}
      .login3{ background-position: -68px 2px;}
      .login4{ background-position: -94px top;}
      .login5{ background-position: -115px top;}
    }
    .thirdParty{
      @include pos(absolute,5px,290px);
      display:inline-block;
    }
  }
}

.incorrect{
  @include pos(absolute,0,-10px);
  color:$color;
}
.forgetPwd{
  @include setting(600px,300px);
  @include pos(absolute,350px,200px);
  border-radius:10px;
  z-index :1;
  display:none;
  .forUp{
    @include setting(600px,56px);
    border-bottom:1px solid #ccc;
    &:hover{
      cursor: move;
    }
    p{
      font-size:18px;
      font-weight:bold;
      text-align:center;
      line-height:50px;
    }
    button{
      @include setting(12px,10px,#fff url(../images/login/close.jpg) no-repeat);
      @include pos(absolute,550px,20px);
    }
  }
  .forDown{
    @include setting(600px,244px);
    .import{
      @include setting(224px,32px,url(../images/login/inputBg.jpg));
      @include distance(180px,80px);
      border-radius:0 5px 5px 0;
    }
    button{
      @include setting(36px,32px,#eeeeee);
      @include distance(-44px);
      border-left:1px solid #ccc;
      border-radius:0 3px 3px 0;
      font-weight:bolder;
    }
    p{
      @include distance(180px,15px);
    }
  }
}
.bg{
  @include pos(absolute,0,0);
  background-color:#000;
  opacity:0.5;
  filter: alpha(opacity = 50);

}